<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @tag.photo_id %>
</p>

<p>
  <strong>Member:</strong>
  <%= @tag.member_id %>
</p>

<p>
  <strong>Count:</strong>
  <%= @tag.count %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
