<%- model_class = Photo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= form_tag photos_path, :method=>"get", :id=>"search-form" do %>
<div class="panel-group" id="search">
  <div class="panel panel-default">
  	<div class="panel-heading">
  	  <h4 class="panel-title">
  	  	<a data-toggle="collapse", data-parent="#search" href="#members">
  	  	  検索
  	  	</a>
  	  </h4>
  	</div>
  	  <div class="panel-body collapse" id="members">
  	    <%= button_tag "検索する", :type=>"button", :class=>"btn btn-lg btn-default search-button" %>
  	    <%= search_panel %>
  	    <%= button_tag "検索する", :type=>"button", :class=>"btn btn-lg btn-default search-button" %>
  	  </div>
  </div>
</div>
  	<% end %>
<%= paginate(@photos) %>
<div id="photos">
  <div class="row">
    <%= render @photos %>
  </div>
</div>
