<%- model_class = Photo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt></dt>
  <dd><%= image_tag photo_get_photo_path(@photo), :class => 'img-responsive' %></dd>
  <dt><strong>ブログへリンク</strong></dt>
  <dd>
  	<%= link_to @photo.article.title, @photo.article.url, :target=>["_blank"] %>
  </dd>
  <dt><strong>投稿者</strong></dt>
  <dd>
  	<%= @photo.article.member.name %>
  </dd>
  <dt><strong>誰が写ってる？</strong></dt>
  <dd>
  	<%= tag_panel @photo %>
  </dd>
</dl>

<div class="row">
  <div class="col-md-4">
  	<% if @photo.previous.present? %>
      <%= link_to "前の画像へ", photo_path(@photo.previous), :class => 'btn btn-default btn-lg' %>
    <% end %>
  	<% if @photo.previous_notag.present? %>
  	  <%= link_to "前のタグづけしていない画像へ", photo_path(@photo.previous_notag), :class => 'btn btn-default btn-lg' %>
  	<% end %>
  </div>
  <div class="col-md-4 ">
  	<div class="btn-center">
      <%= link_to "前の画面へ戻る", "#", :class => 'btn btn-default btn-lg back-button'  %>
      <%= link_to "一覧へ戻る", photos_path, :class => 'btn btn-default btn-lg'  %>
    </div>
  </div>
  <div class="col-md-4">
  	<% if @photo.next_notag.present? %>
  	  <%= link_to "次のタグ付けしていない画像へ", photo_path(@photo.next_notag), :class => 'btn btn-default btn-lg' %>
  	<% end %>
  	<% if @photo.next.present? %>
  	  <%= link_to "次の画像へ", photo_path(@photo.next), :class => 'btn btn-default btn-lg' %>
  	<% end %>
  </div>
</div>
