<!DOCTYPE html>
<html>
<head>
  <title><%= SanbeeBlogPhoto::Application.config.ap_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
</head>
<body>

<%= yield %>

</body>
</html>
